

/* src/assets/css/modal.css */
.modal-backdrop{
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-box{
  background: #fff;
  padding: 20px;
  width: 400px;
  border-radius: 8px;
}
